.signup-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  min-width: 80%;

  @include tb{
    flex-direction: row;
    padding: 40px 0;
    margin-bottom: 0;
    min-width: 700px;
  }

  & h1{
    margin: 10px 0;
    @include tb{
      margin: 0 20px 0 0;
    }
  }

  & a{
    width: 120px;
    height: 33px;
    line-height: 33px;

    @include tb{
      width: 185px;
      height: 49px;
    }
  }

  & img{
    width: 120px;
    height: 33px;

    @include tb{
      width: 185px;
      height: 49px;
    }
  }
}

// 進捗バー関連
.progress-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  text-align: center;

  & li{
    flex: 1 1 0%;
    margin: 0;
    padding: 0;
    min-width: 24px;
    color: #888;

    &.active{
      font-weight: 600;
      color: $mercari-red;

      .progress-bar__marker::before{
        background: $mercari-red;
      }
    }

    &.through{
      .progress-bar__marker::before,
      .progress-bar__marker::after{
        background: $mercari-red;
      }
    }
  }

  &__text{
    margin-bottom: 12px;
    font-size: 12px;
    white-space: nowrap;
  }

  &__marker{
    display: block;
    position: relative;

    &:before{
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 20;
      width: 10px;
      height: 8px;
      padding-bottom: 2px;
      border-radius: 50%;
      background-color: #ccc;
      margin-left: auto;
      margin-right: auto;
    }

    &::after{
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 2px);
      right: -50%;
      width: 100%;
      height: 4px;
      background-color: #ccc;
    }

    .progress-bar li:last-child &::after{
      display: none;
    }
  }
}