// 赤ボタン
@mixin btn-red{
  background: $mercari-red;
  border: 1px solid $mercari-red;
  color: #fff;
}

@mixin btn-blue{
  background: $mercari-blue;
  border: 1px solid $mercari-blue;
  color: #fff;
}

@mixin btn-base{
  padding: 6px 8px;
  border-radius: 4px;
}

@mixin hover-anm{
  transition: all ease-out .3s;
  text-decoration: none;
}