%body
  = render partial: 'shared/header-exhibit'
  %main.main
    %section.main__container
      %h2.main__head.registration 新規会員登録
      .main__inne.registration-form
        .signup-content
          = link_to '#',class: "btn-default btn-red " do
            メールアドレスで登録する
            %i.far.fa-envelope.icon_mail
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.fab.fa-facebook-square
            Facebookで登録する
          %button#google-login.btn-default.btn-sns.btn-sns-google
            Googleで登録する
  %main.sub
  = render partial: 'shared/footer-exhibit'