.main__container__edit-item-box{
  margin: 0 auto;
  margin-top:80px;
  padding-bottom: 40px;
  width: 700px;
}

.item-change__box{
  background: #fff;
  padding: 8px 16px 8px 16px;
  margin:24px 0 ;
  .btn-default{
    margin: 16px 0 16px 0;
    a{
      text-decoration: none;
      display: block;
      color:#fff;
    }
  }
  p{
    font-size:16px;
    text-align: center;
  }
}