.main{
  display: block;
  &__container{
    background: #fff;
  }
  &__head{
    padding: 24px 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  .main__container {
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px){
  .main__head{
    font-size: 22px;
  }
}

.sell-form{
  border-top: 1px solid #eee;
}

@media screen and (min-width: 768px){
  .sell-upload-box{
    padding: 40px;
    width: 620px;
  }
}

.sell-upload-box__head{
  font-size: 16px;
  + p{
    margin: 8px 0 0;
    line-height: 1.5;
    font-size: 13px;
    color: #333333;
  }
}

.form-require{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sell-dropbox-container{
  display: inline;
  margin: 16px auto 0;
}

.sell-upload-items-container{
  display: inline;
}

.sell-upload-items{
  display: inline;
  ul{
    display: inline;
  }
}

.sell-upload-drop-box.have-item-0{
  margin-left: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px){
  .sell-upload-drop-box {
    width: 620px;
    padding: 40px;
  }
}

@media screen and (min-width: 480px)and(max-width:768px){
  .sell-upload-box {
    padding: 40px 2.5%;
  }
}

.sell-upload-drop-box{
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  transition: box-shadow;
  cursor: pointer;
}

.input{
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
}

@media screen and (min-width: 768px){
.sell-upload-drop-box pre {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 768px){
  .visible-pc {
    display: block;
    z-index: 2;
  }
  .icon-camera{
    display: none;
  }
}

@media screen and (min-width: 480px){
  .icon-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    z-index: 2;
  }
}

.sell-content{
  padding: 40px;
  border-top: 1px solid #eee;
  @include clearfix;
}

.form-group label{
  font-weight: 600px;
}

.label{
  display: inline-block;
}

.form-group .input-default{
  width: 100%;
  margin: 8px 0 0;
}

.form-group:first-child{
  margin: 0
}

.form-group{
  margin: 40px 0 0;
}

.input-price{
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
  margin: 8px 0 0;
  width: 100%;
  text-align: right;
}

.input-price::placeholder{
  text-align: right;
}

.form-group label + .textarea-default{
  margin: 8px 0px 0px;
  min-height: 140px;
}

textarea::-webkit-input-placeholder{
  font-size:15px;
}

textarea::-moz-input-placeholder{
  font-size:15px;
}

textarea:-moz-input-placeholder{
  font-size:15px;
}

textarea:-ms-input-placeholder{
  font-size:15px;
}

.sell-sub-head{
  color: #888;
  font-size: 14px;
}

.sell-form-box{
  margin: 40px 0 0;
}

@media screen and (min-width: 768px){
  .sell-sub-head{
    float: left;
  }
  .sell-form-box{
    float: right;
    width: 400px;
    margin: 0;
  }
}

.form-group .select-wrap-exhibit{
  margin: 8px 0 0;
}

.select-wrap-exhibit{
  position: relative;
  background: #fff;
}

.select-wrap-exhibit .icon-arrow-bottom{
  position: absolute;
  right: 16px;
  top:50%;
  z-index: 2;
  color: #888;
  font-size: 25px;
  transform: translate(0, -50%);
}

.form-group select{
  width: 100%;
}

select{
  outline: 0;
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.form-question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell-price .form-group .clearfix__left{
  width: 50%;
  line-height: 48px;
}

.sell-price .form-group .clearfix__right{
  width: 50%;
}

.sell-price-input{
  text-align: right;
}

.yen{
  display: inline-block;
}

.sell-price-input>div{
  display:inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}

.clearfix__left{
  font-size: 14px;
}

.clearfix__right{
  float: right;
}

.sell-price>li{
  padding: 24px 0;
  border-top: 1px solid #ccc;
}

.sell-price>li:first-child{
  border: none;
}

.sell-price .bold .clearfix__left{
  padding-top:24px;
  font-size: 16px;
  border-top: 1px solid #ccc
}

.sell-price .bold .clearfix__right{
  font-size: 34px;
}

.model{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all;
  opacity: 0;
  transform: translate(0, -10px);
}

.sell-btn-box .btn-red{
  margin: 40px 0 0;
}

.btn-red{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.sell-btn-box .btn-gray{
  width: 45%;
  margin: 24px auto 0;
}

.btn-gray{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.info{
  font-size: 14px;
}
