<aside class="app-banner">
  <div class="app-banner__pc">
    <div class="app-banner__pc__inner">
        <h2>スマホでかんたんフリマアプリ</h2>
        <p>今すぐ無料ダウンロード！</p>
      <div class="app-banner__pc__inner__icon">
        <figure>
          <%= image_tag 'mercari_icon.png', size: '68x68' %>
        </figure>
        <ul>
          <li><a href="">
            <%= image_tag 'app-store.svg', size: '133x40' %>
          </a></li>
          <li><a href="">
            <%= image_tag 'google-play.svg', size: '133x40' %>
          </a></li>
        </ul>
      </div>
    </div>
    <figure>
      <%= image_tag 'download_content_pc.png' %>
    </figure>
  </div>
</aside>