<aside class="app-banner">
  <div class="app-banner__pc">
    <div class="app-banner__pc__inner">
        <h2>スマホでかんたんフリマアプリ</h2>
        <p>今すぐ無料ダウンロード！</p>
      <div class="app-banner__pc__inner__icon">
        <figure>
          <img src="images/mercari_icon.png" width="68" alt="">
        </figure>
        <ul>
          <li><a href=""><img src="images/app-store.svg" width="133" height="40" alt=""></a></li>
          <li><a href=""><img src="images/google-play.svg" width="133" height="40" alt=""></a></li>
        </ul>
      </div>
    </div>
    <figure>
      <img src="images/download_content_pc.png" alt="">
    </figure>
  </div>
</aside>