<footer class="footer">
  <nav class="footer__nav">
    <div class="footer__nav-wrap">
      <h2>メルカリについて</h2>
      <ul class="footer__nav-item">
        <li><a href="">会社概要（運営会社）</a></li>
        <li><a href="">採用情報</a></li>
        <li><a href="">プレスリリース</a></li>
        <li><a href="">公式ブログ</a></li>
        <li><a href="">メルカリロゴ利用ガイドライン</a></li>
        <li class="footer__social-icon">
          <a href="">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="footer__social-icon">
          <a href="">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__nav-wrap">
      <h2>ヘルプ＆ガイド</h2>
      <ul class="footer__nav-item">
        <li><a href="">メルカリガイド</a></li>
        <li><a href="">らくらくメルカリ便</a></li>
        <li><a href="">ゆうゆうメルカリ便</a></li>
        <li><a href="">大型メルカリ便</a></li>
        <li><a href="">車体取引ガイド</a></li>
        <li><a href="">メルカリあんしん・あんぜん宣言！</a></li>
        <li><a href="">偽ブランド品撲滅への取り組み</a></li>
        <li><a href="">メルカリボックス</a></li>
      </ul>
    </div>
    <div class="footer__nav-wrap">
      <h2>プライバシーと利用規約</h2>
      <div class="footer__nav-inner-box">
        <ul class="footer__nav-item">
          <li><a href="">プライバシーポリシー</a></li>
          <li><a href="">メルカリ利用規約</a></li>
          <li><a href="">あんしんスマホサポート制度に関する利用特約</a></li>
          <li><a href="">コンプライアンスポリシー</a></li>
        </ul>
        <ul class="footer__nav-item">
          <li><a href="">個人データの安全管理に係る基本方針</a></li>
          <li><a href="">特定商取引に関する表記</a></li>
          <li><a href="">資金決済法に基づく表示</a></li>
          <li><a href="">法令順守と犯罪抑止のために</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__nav-wrap">
      <h2>国</h2>
      <ul class="footer__nav-item">
        <li><a href="">日本</a></li>
        <li><a href="">United States</a></li>
      </ul>
    </div>
  </nav>
  <div class="footer__bottom">
    <a href="" class="footer__logo" >
      <%= image_tag 'logo-white.svg', alt: 'mercari' %>
    </a>
    <span class="footer__copyright">
      <small>&copy; 2019 Mercari</small>
    </span>
  </div>
</footer>