%footer.main-footer
  %nav
    %ul.clearfix
      %li
        %a{:href => "#"} プライバシーポリシー
      %li
        %a{:href => "#"} メルカリ利用規約
      %li
        %a{:href => "#"} 特定商取引に関する表記
  %a.main-footer__logo{:href => "#"}
    %img{alt: "mercari", height: "65", src: "/assets/footer-logo-gray.svg", width: "80"}/
  %p
    %small ©︎2019 Mercari