<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <h1>
        <a href="">
          <%= image_tag 'logo.svg', size: '134x36', alt: 'mercari'%>
        </a>
      </h1>
    </div>
    <div class="header__user-nav">
      <a href="" class="signup-btn">
        新規会員登録
      </a>
      <a href="" class="login-btn">
        ログイン
      </a>
    </div>
    <div class="header__search">
      <form action="" class="header__form">
        <input type="text" name="keyword" value placeholder="なにかお探しですか？" class="header__form__input">
        <button type="submit" class="header__form__icon">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <ul class="header__navigation">
      <li class="category-menu" id="category-menu">
        <a href="">
          <i class="fas fa-list navigation-icon"></i><span>カテゴリーから探す</span>
        </a>
      <li class="category-menu" id="brand-menu">
        <a href="">
          <i class="fas fa-tag navigation-icon"></i><span>ブランドから探す</span>
        </a>
      </li>
    </ul>

  </div>
</header>