.itembox
  = link_to purchase_index_path do
    %figure.itembox__photo
      = image_tag '', alt: '#'
    .itembox__body
      %h3.itembox__name アイテムネームアイテムネームアイテムネームアイテムネーム
      .itembox__num
        %p.itembox__price 1,500
        %p.itembox__like
          -# %i.far.fa-heart
          %i.fa.fa-heart
          3