.itembox
  -# todo: 仮置き サーバーサイド実装後に正式なパスを設定
  = link_to item_path(1) do
    %figure.itembox__photo
      = image_tag '', alt: '#'
    .itembox__body
      %h3.itembox__name アイテムネームアイテムネームアイテムネームアイテムネーム
      .itembox__num
        %p.itembox__price 1,500
        %p.itembox__like
          %i.far.fa-heart
          3