.sellitem_contener
  .sellitem_contener_image
    = image_tag "#{image.image}", alt: "", class: "edit_image"
  .sell-image-upload
    = link_to "編集", "#", class: "sell-image-upload-btn"
    = link_to "削除", "#", class: "sell-image-upload-btn"