.itembox
  %figure.itembox__photo
    = image_tag "", alt: '#'
  .itembox__body
    %h3.itembox__name
      なんか
    .itembox__num
      %p.itembox__price 
        1500
      %p.itembox__like
        %i.far.fa-heart
        3