.tab-contents
  = link_to '#', class: 'mypage-tab__item' do
    %figure.mypage-tab__item__icon
      =image_tag src="/assets/mercari_profile.png",class: " mypage-tab__item__icon__mercari",alt: "","data-src": "/assets/mercari_profile.png" 
    .mypage-tab__item__body
      .mypage-tab__item__body__text
        《ご登録記念》 ¥1,000の商品を「実質１円」でご購入いただけます!
      .mypage-tab__item__body__time
        %i.far.fa-clock
        %span.time-ago
          2時間前
    %i.fa.fa-chevron-right