.tab-contents
  = link_to "/exhibit/#{item.id}", class: 'mypage-tab__item' do
    %figure.mypage-tab__item__icon
      - top_image = item.images.first
      = image_tag top_image.image.to_s, class: "mypage-tab__item__icon__mercari",alt: ""
    .mypage-tab__item__body
      .mypage-tab__item__body__text
        = item.name 
      .listing
        .listing__count
          %i.far.fa-heart
          %span
            0
        .listing__count
          %i.far.fa-comment-alt
          %span
            0
        .item_status
          出品中
    %i.fa.fa-chevron-right