.sell-dropbox-container.clearfix.edit_page{
  display: flex;
  width: 620px;
  .sellitem_contener{
    border: 1px solid #eee;
    margin: 0 0 10px 10px;
    display: inline;
    &_image{
      width: 116px;
      .edit_image{
        max-width: 100%;
        width /***/:auto;
        height: 116px;
      }
    }
    .sell-image-upload{
      font-size: 14px;
      display: flex;
      .sell-image-upload-btn{
        display: inline-block;
        width: 50%;
        background: #f5f5f5;
        line-height: 44px;
        text-align: center;
      }
    }
  }
  .file_upload_box{
    width: 100%;
  }
  .sell-upload-drop-box.have-item-0.edit_page{
    width: 100%;
    margin-left: 2%;
  }
}

.sell-content.sell-btn-box{
  .btn-default.btn-gray{
    a{
      text-decoration: none;
      color: #fff;
      display: block;
    }
  }
}
