body{
  background-color: #f5f5f5;
}

a {
  color: #0099e8;
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

a, area, button, input, label, select, textarea,[tabindex]{
  touch-action: manipulation;
}

img{
  vertical-align: middle;
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer
}

.select-default:disabled {
  background: #f5f5f5
}


