// base setting
.input-default{
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  @include formsetting;

  &:focus{
    border-color: $mercari-blue;
  }
}

.textarea-default{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  @include formsetting;

  &:focus{
    border-color: $mercari-blue;
  }
}

.form-group{
  label{
    font-weight: 600;
  }

  .input-default.half{
    width: calc(50% - 6px);

    &:first-of-type{
      margin-right: 8px;
    }
  }
}
.select-default{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
  @include formsetting;

  &:focus{
    border-color: $mercari-blue;
  }
}

.has-error{
  border-color: $mercari-red;
}

.has-error-text{
  color: $mercari-red;
}

// settings
.form-question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $mercari-blue;
  color: #fff;
  line-height: 14;
  font-size: 12px;
  text-align: center;
}
