*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  background: no-repeat;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  font-size: 14px;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto !important;
  margin-bottom: 10px !important;
}

img{
  vertical-align: middle;
}

a{
  text-decoration: none;
}

main{
  a{
    color: $mercari-blue;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      opacity: 0.7;
    }
  }
}

// form reset option
input{
  @include formreset;
}

textarea{
  resize: vertical;
  @include formreset;
}