.profile-form{
  &__icon{
    padding: 72px 16px 24px;
    @include bg-cover('user-bg.jpg');

    figure{
      display: inline-block;
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  &__nickname{
    width: 220px;
    margin: 0 0 0 8px;
    vertical-align: middle;
  }

  &__input{
    padding: 40px 16px;

    .textarea-default{
      min-height: 216px;
    }

    .btn-red{
      margin: 16px 0 0;
    }
  }
}