.mypage-container{
  margin: 24px auto 0;
  padding: 0 0 40px;

  @include tb{
    width: 700px;
  }

  @include pc{
    margin: 40px auto 0;
    width: 1020px;
    display: flex;
    justify-content: space-between;
  }
}

.content{
  @include pc{
    order: 2;
  }
  
  &__wrap{
    background: #fff;

    @include tb{
      width: 700px;
    }
  }

  &__title{
    padding: 12px 4%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    font-size: 18px;
    font-weight: bold;

    @include tb{
      font-size: 24px;
      padding: 8px 24px;
    }
  }
}

.profile-form{
  &__icon{
    padding: 72px 16px 24px;
    @include bg-cover('user-bg.jpg');

    figure{
      display: inline-block;
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  &__nickname{
    width: 220px;
    margin: 0 0 0 8px;
    vertical-align: middle;
  }

  &__input{
    padding: 40px 16px;

    .textarea-default{
      min-height: 216px;
    }

    .btn-red{
      margin: 16px 0 0;
    }
  }
}