!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title 購入を確定 - スマホでかんたん フリマアプリ
  %body
    .container
      = render partial: 'shared/header-exhibit'
      %main.main
        %section.main__container.buy-item-container
          %h2.main__head
            %b 購入内容の確認
          %section.buy-content.buy-item
            .buy-content__inner
              %h3.buy-item__image
                = image_tag "/assets/sell-sample.jpg", alt: "", class: "is-higher-height.lazyloaded"
              %p.buy-item__name
                %b シャネル ショップ袋 ショッパー小
              %form.buy-form{action: "###", method: "POST", novalidate: "novalidate"}
                %p.buy-price__including-postage
                  %b ¥499
                  %span.item-shipping-fee 送料込み
                %ul.buy-accordion.not-have
                  %li.accordion-parent
                    .accordion-toggle
                      ポイントはありません
                %ul.buy-price
                  %li.buy-price__row.buy-you-pay
                    .buy-price__total
                      %b 支払い金額
                    .buy-price__total
                      %span ¥499
                %button.btn-default.btn-red{type: "submit"}
                  %b 購入する
          %section.buy-content.buy-user-info
            .buy-content__inner
              %h3 配送先
              %address.buy-user-info__text
                〒000-0000
                %br/
                大阪府 大阪市 XX区 XXXX 1-2-3
                %br/
                テスト太郎
              %p.buy-user-info__text
              %a.buy-user-info__fix{href: "#"}
                %span.change 変更する
                %i.fa.fa-angle-right
          %section.buy-content.buy-user-info
            .buy-content__inner
              %h3 支払い方法
              %p.buy-user-info__text
                *************1111
                %br/
                01/22
              %figure
                = image_tag "/assets/visa.svg", alt: "mercari", class: "header-img", height: "15", width: "49"
              %p
              %a.buy-user-info__fix{href: "#"}
                %span.change 変更する
                %i.fa.fa-angle-right
      = render partial: 'shared/footer-exhibit'
