.buy-item > .buy-content__inner {
  display: flex;
  flex-wrap: wrap;
}

.buy-item{
  text-align: center;

  & img{
    width: 64px;

    &.is-higher-height {
      width: 64px;
    }
  }

  &__name {
    width: calc(100% - 80px);
    margin: 0 0 0 16px;
    text-align: left;
  }

  & .btn-red {
    margin: 8px 0 0;
  }
}

.bold{
  font-weight: bold;
  display: inline;
}

.buy-price{
  &__en {
    display: inline;
  }
}

.buy-form {
  width: 100%;
}

.buy-you-pay {
  font-size: 16px;

  @include tb{
    font-size: 18px;
  }
}

.buy-content{
  margin: 40px;
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;

  &:first-of-type{
    margin: 0;
  }

  &:last-of-type{
    padding: 24px 12.5% 40px;
  }

  &__inner{
    max-width: 320px;
    margin: 0 auto;

    &>figure{
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.item-shipping-fee{
  display: inline-block;
}

.buy-accordion{
  margin: 16px 0 0;

  &.not-have{
    background: #ccc;

    & .accordion-toggle{
      padding: 16px;
    }
  }
}

.accordion-toggle{
  font-size: 14px;
}

.buy-price{
  display: table;
  border-collapse: collape;
  width: 100%;

  &__total{
    display: table-cell;
    padding: 16px 0;
    text-align: right;

    &:first-child{
      text-align: left;
      width: 100%;
    }

    span{
      font-size: 28px;
      font-weight: bold;
    }
  }
  &__including-postage {
    margin: 16px 0 0;
    font-size: 22px;

    & .item-shipping-fee{
      margin: 0 0 0 8px;
      font-size: 14px;
      font-weight: 400px;
    }
  }
}

.buy-user-info{
  & h3{
    font-size: 14px;
    margin: 40px 0 0;
    font-weight: bold;

    &:first-child{
      margin: 0;
    }
  }

  & address{
    display: block;
  }

  &__text{
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
  &__fix{
    display: block;
    text-align: right;
  }
}

.change{
  font-size: 14px;
}

// 購入するボタンのCSS上書き
#payjp_checkout_box
input[type=button]{
  border: initial !important;
  background-image: initial !important;
  background-color: $mercari-red !important;
  margin: 20px 0 0 !important;
  padding: 15px 130px !important;
  font-size: 15px !important;
  font-weight: bold;
}