%section.item
  %h3.item__title
    = link_to '新着アイテム', '#'
  .item__content
    - @items.each do |item|
      = render partial: 'shared/item-box', locals: { item: item } 
  .view-all
    = link_to 'すべての商品を見る', '#'