<main>

  <section class="pickup">
    <h2 class="pickup__title">ピックアップカテゴリー</h2>
    <!-- item ここから -->
    <section class="item">
      <h3 class="item__title">
        <a href="">新着アイテム</a>
      </h3>
      <div class="item__content">
        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネームアイテムネームアイテムネームアイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="itembox">
          <a href="">
            <figure class="itembox__photo">
              <img src="" alt="">
            </figure>
            <div class="itembox__body">
              <h3 class="itembox__name">アイテムネーム</h3>
              <div class="itembox__num">
                <p class="itembox__price">1,500</p>
                <p class="itembox__like">
                  <i class="far fa-heart"></i>
                  3
                </p>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="view-all">
        <a href="">すべての商品を見る</a>
      </div>
    </section>
    <!-- item ここまで -->

    <!-- item ここから -->
    <section class="item">
        <h3 class="item__title">
          <a href="">新着アイテム</a>
        </h3>
        <div class="item__content">
          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

        </div>
        <div class="view-all">
          <a href="">すべての商品を見る</a>
        </div>
      </section>
      <!-- item ここまで -->

      <!-- item ここから -->
    <section class="item">
        <h3 class="item__title">
          <a href="">新着アイテム</a>
        </h3>
        <div class="item__content">
          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

        </div>
        <div class="view-all">
          <a href="">すべての商品を見る</a>
        </div>
      </section>
      <!-- item ここまで -->

      <!-- item ここから -->
    <section class="item">
        <h3 class="item__title">
          <a href="">新着アイテム</a>
        </h3>
        <div class="item__content">
          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="itembox">
            <a href="">
              <figure class="itembox__photo">
                <img src="" alt="">
              </figure>
              <div class="itembox__body">
                <h3 class="itembox__name">アイテムネーム</h3>
                <div class="itembox__num">
                  <p class="itembox__price">1,500</p>
                  <p class="itembox__like">
                    <i class="far fa-heart"></i>
                    3
                  </p>
                </div>
              </div>
            </a>
          </div>

        </div>
        <div class="view-all">
          <a href="">すべての商品を見る</a>
        </div>
      </section>
      <!-- item ここまで -->

  </section>
</main>