.mypage-sidebar{
  margin: 40px auto 0;

  @include tb{
    width: 100%;
  }

  @include pc{
    order: 1;
    width: 280px;
    margin: 0 40px 0 0;
  }

  &__nav-lists{
    li{
      border-top: 1px solid #eee;

      &:first-child{
        border: 0;
      }
    }
  }

  &__nav-items{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;

    &:hover, &.active{
      .icon--arrow-right{
        color: #333;
      }
    }

    &:hover{
      background: #fafafa;
      opacity: 1;
      text-decoration: none;

      .icon--arrow-right{
        transform: translate(4px, -50%);
      }
    }

    &.active{
      background: #eee;
      font-weight: 600;
    }

    .icon--arrow-right{
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%);
      color: #ccc;
      font-size: 20px;
      transition: all ease-out .2s;
    }
  }

  &__nav-head{
    margin: 40px 4% 0;
    font-size: 16px;
    font-weight: bold;

    @include tb{
      margin: 40px 0 0;
    }
  }
} 
